traefik:
  providers:
    kubernetesCRD:
      allowCrossNamespace: true
    kubernetesGateway:
      enabled: true
  logs:
    general:
      level: DEBUG
    access:
      enabled: false
  ingressRoute:
    dashboard:
      enabled: true
      matchRule: Host(`traefik.arcamh.com`)
      entryPoints:
        - web
        - websecure
  api:
    dashboard: true
    insecure: true
  tlsStore:
    default: {}

gateway:
  listeners:
    web:
      namespacePolicy:
        from: All
