namespace:
  name: argocd
 
application:
  source:
    url: https://github.com/argoproj/argo-helm.git
    targetRevision: argo-cd-9.1.4
    path: ./charts/argo-cd
  global:
    logging:
      level: debug
    domain: https://argocd.arcamh.com
  configs:
    secret:
      githubSecret:
    rbac:
      "policy.csv": |
        p, role:admin, exec, create, */*, allow
        g, Invasor-de-Fronteiras:devops, role:admin
    params:
      server.insecure: true
    cm:
      exec.enabled: true
      url: https://argocd.arcamh.com
      dex.config: |
        connectors:
          - type: github
            id: github
            name: GitHub
            config:
              clientID: aa545d98348387861211
              clientSecret: $argocd-dex-secret:dex.github.clientSecret
              orgs:
              - name: Invasor-de-Fronteiras
              scopes:
              - profile
              - email
              - groups